<style>
    * {
        font-family: Verdana;
    }
    h1 {
        font-size: 55px;
    }
    p {
        font-size: 20px
        width: 1000px;
        margin-left: 5px;
        margin-top: -10px;
    }
    h2 {
        width: 300px;
        margin-left: 5px;
    }
    a {
        font-size: 20px;
    }
    img {
        width: 200px;
    }
    .product {
        border: 1px black solid;
        display: flex;
        height: 270px;
        margin-top: 5px;
    }
    button {
        margin-left: auto;
    }
</style>

<h1>CONSOLE+</h1>

<a href="/main"> Main </a>
<a href="/products"> Goods </a>
<a href="/aboutus"> Info </a>

<div class = "product">
    <img src="https://upload.wikimedia.org/wikipedia/ru/f/f4/Minecraft_Cover_Art.png"/>
    <div>
        <h2> Minecraft </h2>
        <p> в пункте P будет описание </p>
    </div>
    <button> Buy </button>
</div>

<div class = "product">
    <img src="https://upload.wikimedia.org/wikipedia/ru/6/6e/God_of_War-_Ragnar%C3%B6k.jpg"/>
    <div>
        <h2> God of War: Ragnarok </h2>
        <p> в пункте P будет описание </p>
    </div>
     <button> Buy </button>
</div>
